#register-card {
    margin: 0px auto;
    max-width: 800px;
}

#register-card-img {
    max-width: 300px;
    margin: 15px;
    margin-bottom: -15px;
}

#register-card-form {
    display: flex;
    flex-direction: column;
}

#register-card-form>label {
    margin-top: 4%;
    margin-bottom: 2%;
}