<div class="hero mb-64 mt-32">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left ml-11">
            <h1 class="text-5xl font-bold">Login now!</h1>
            <p class="py-6">Welcome to our platform! Your gateway to a secure and user-friendly experience.</p>
        </div>
        <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Username</span>
                    </label>
                    <input type="text" id="login-card-username-input" placeholder="username" class="input input-bordered"
                        (keyup)="checkInputs($event)" required />
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="password" id="login-card-password-input" placeholder="password"
                        class="input input-bordered" (keyup)="checkInputs($event)" required />
                    <!-- <label class="label">
                        <a href="/pw-request-email" class="label-text-alt link link-hover">Forgot password?</a>
                    </label> -->
                </div>
                <div class="form-control mt-6">
                    <button class="btn btn-primary" [disabled]="show" (click)="login()">Login</button>
                </div>
                <a routerLink="/registration" routerLinkActive="active" ariaCurrentWhenActive="page" class="mt-5 text-sm">Don't have an account? <b>Register here!</b></a>
            </div>
        </div>
    </div>
</div>