<div class="grid grid-cols-3 gap-4" *ngIf="isRequested; else notRequested">
    <div class="col-span-2">
        <div>
            <div id="title" class="flex flex-row">
                <h1 class="text-8xl">{{ itemData.title || 'unknown' }}</h1>
                <div class="ml-5">

                </div>
            </div>
            <div id="content">

            </div>
        </div>
    </div>
    <div></div>
</div>

<ng-template #notRequested>
    <span class="loading loading-dots loading-lg"></span>
</ng-template>