<!-- src/app/not-logged-in/not-logged-in.component.html -->
<div class="container">
    <div class="icon">
        <svg width='48' height='48' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'
            xmlns:xlink='http://www.w3.org/1999/xlink'>
            <rect width='48' height='48' stroke='none' fill='#000000' opacity='0' />


            <g transform="matrix(0.83 0 0 0.83 12 12)">
                <g>
                    <g transform="matrix(1 0 0 1 0 0)">
                        <path
                            style="stroke: rgb(0,0,0); stroke-width: 1; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                            transform=" translate(-12, -12)"
                            d="M 0.5 12 C 0.5 18.351274623054124 5.648725376945877 23.5 12 23.5 C 18.351274623054124 23.5 23.5 18.351274623054124 23.5 12 C 23.5 5.648725376945877 18.351274623054124 0.5 12 0.5 C 5.648725376945876 0.5 0.5 5.648725376945875 0.5 11.999999999999998 Z"
                            stroke-linecap="round" />
                    </g>
                    <g transform="matrix(1 0 0 1 -1.68 -1.68)">
                        <path
                            style="stroke: rgb(0,0,0); stroke-width: 1; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                            transform=" translate(-10.32, -10.32)"
                            d="M 12 4.333 C 9.160438797868693 4.332760303991651 6.5533451392979405 5.902143121671401 5.224537497891818 8.411600857965094 C 3.895729856485696 10.921058594258788 4.062904338490515 13.959471414392794 5.658999999999999 16.308 L 16.309 5.659 C 15.038939979814856 4.793223320092382 13.537080982833102 4.331059237939259 12 4.333 Z"
                            stroke-linecap="round" />
                    </g>
                    <g transform="matrix(1 0 0 1 1.68 1.68)">
                        <path
                            style="stroke: rgb(0,0,0); stroke-width: 1; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
                            transform=" translate(-13.68, -13.68)"
                            d="M 7.691 18.341 C 10.734683971480761 20.410952678249235 14.819942078679588 20.025461497227575 17.42270178795358 17.422701787953585 C 20.025461497227575 14.819942078679592 20.410952678249235 10.734683971480765 18.341 7.6910000000000025 Z"
                            stroke-linecap="round" />
                    </g>
                </g>
            </g>
        </svg>

    </div>
    <div class="message">
        <h1>You are not logged in!</h1>
        <p>Please log in to access this page.</p>
    </div>
    <div class="login-button">
        <a class="btn btn-outline btn-primary" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" >Go to Login</a>
    </div>
</div>